.cart-btn{
    background-color: #884dc2 !important;
    color: #fff !important;
    font-size: 11px !important;
    padding: 6px 15px !important;
    
}
.cart-btns{
    position: absolute !important;
    bottom: 1px !important;
}
.view-detail-btn{
    background-color: #fff !important;
    color: #884dc2 !important;
    border: 1px solid #884dc2 !important;
}
.setBtns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}
.checkOutBtn{
   padding: 10px;
}
.checkOutBtn{
    width: 100%;
    font-size: 1rem !important;
}
